/* generic components start */
body {
    margin: 0px;
    /* font-family: 'Courier New', monospace; */
    font-family: 'Nintendo DS BIOS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    background-color: #008080;
}

#CursR {
    cursor: none;
    pointer-events: none;
    position: fixed;
    display: none;
    z-index: 1000;
    font-size: 50px;
}

.CursR-border {
    color: red;
    border: 2px solid red;
    padding: 20px;
    border-radius: 50%;
}

#tbl-desktop-icons {
    /* width: 100%; */
    /* border-collapse: collapse; */
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
}

#tbl-desktop-icons td p {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 22px;
}

#tbl-desktop-icons td img {
    padding-top: 12px;
}

#tbl-desktop-icons tr {
    cursor: pointer;
    color: white;
    height: 88px;
}

#tbl-desktop-icons tr:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid grey;
    border-left: 3px solid lightgrey;
    border-right: 3px solid grey;
}

#tbl-start-menu {
    width: 100%;
    color: black;
    border-spacing: unset;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

#tbl-start-menu tr:hover {
    color: white;
    background-color: #000080;
}

#tbl-start-menu td:nth-child(odd) {
    width: 30%;
}

#tbl-start-menu td {

}

#tbl-start-menu img {
    padding-left: 15px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 40px;
}

p {
    margin: 0px;
}

input[type=text] {
    height: 25px;
}

input[type=number] {
    height: 25px;
}

select {
    height: 30px;
}

textarea {
    width: 100%;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

iframe {
    width: 99%;
    min-height: 440px;
}

.button-themed, .button-themed-sm {
    cursor: pointer;
    background-color: #008080;
    color: white;
    padding: 25px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
}

.button-themed-sm {
    padding: 18px;
    font-size: 18px;
}

.button-cleared {
    all: unset;
}

a {
    color: #008080;
    text-decoration: underline;
    cursor: pointer;
}
/* generic components end */

/* helper classes start */
.font-branded {
    font-family: 'Quicksand', serif;
}

.font-sm {
    font-size: 18px;
}

.font-md {
    font-size: 24px;
}

.font-lg {
    font-size: 30px;
}

.font-xl {
    font-size: 96px;
}

.font-clr-light {
    color: white;
}

.font-clr-med {
    color: #6c757d;
}

.bg-clr-dark {
    background-color: #008080;
}

.bg-clr-med {
    background-color: #C0C0C0;
}

.csr-pointer {
    cursor: pointer;
}

.line-light {
    border: 1px solid #f0ece0;/*white;*/
}

.line-dark {
    border: 1px solid black;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.wdth-10 {
    width: 10%;
}

.wdth-25 {
    width: 25%;
}

.wdth-30 {
    width: 30%;
}

.wdth-49 {
    width: 49%;
}

.wdth-50 {
    width: 50%;
}

.wdth-75 {
    width: 75%;
}

.wdth-100 {
    width: 100%;
}

.hght-120 {
    height: 120px;
}

.padding-l-xs {
    padding-left: 5px;
}

.padding-r-xs {
    padding-right: 5px;
}

.padding-t-xs {
    padding-top: 5px;
}

.padding-b-xs {
    padding-bottom: 5px;
}

.padding-l-sm {
    padding-left: 15px;
}

.padding-r-sm {
    padding-right: 15px;
}

.padding-t-sm {
    padding-top: 15px;
}

.padding-b-sm {
    padding-bottom: 15px;
}

.padding-l-md {
    padding-left: 25px;
}

.padding-r-md {
    padding-right: 25px;
}

.padding-t-md {
    padding-top: 25px;
}

.padding-b-md {
    padding-bottom: 25px;
}

.padding-l-lg {
    padding-left: 50px;
}

.padding-r-lg {
    padding-right: 50px;
}

.padding-t-lg {
    padding-top: 50px;
}

.padding-b-lg {
    padding-bottom: 50px;
}

.margin-l-md {
    margin-left: 25px;
}

.margin-r-md {
    margin-right: 25px;
}

.margin-t-md {
    margin-top: 25px;
}

.margin-b-md {
    margin-bottom: 25px;
}

.margin-l-lg {
    margin-left: 50px;
}

.margin-r-lg {
    margin-right: 50px;
}

.margin-t-lg {
    margin-top: 50px;
}

.margin-b-lg {
    margin-bottom: 50px;
}

.centre-align {
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.border-top {
    border-top: 1px solid #008080;
}

@media screen and (max-width: 500px) {
    .hide-xs{
        display: none;
    }
}
/* helper classes end */

/* nav bar start*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: white;
}

.sidenav .btn-nav-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
/* nav bar end*/

/* modal start */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    /* padding-top: 100px; */
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Courier New', monospace;
    /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); */
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 80%;
    max-width: 568px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid grey;
    border-left: 3px solid lightgrey;
    border-right: 3px solid grey;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.modal-bottom {
    padding-top: unset;
    left: auto;
    top: auto;
    right: auto;
    bottom: 0;
}

.modal-content-bottom {
    position: fixed;
    margin: unset;
    bottom: 52px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.close {
    float: right;
    color: black;
    cursor: pointer;
    background-color: #C0C0C0;
    border: 1px solid black;
    height: 32px;
    margin-top: 2px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.close:hover,
.close:focus {
    color: white;
}

.modal-header {
    height: 40px;
    font-size: 30px;
    text-align: left;
    background-image: linear-gradient(to right, #000080, #1084D0);
}

.modal-title {
    color: white;
    padding-left: 10px;
}

.modal-body {
    /*padding: 2px 16px;*/
    /* min-height: 330px; */
    max-height: 568px;
    overflow: auto;
}

.modal-footer {
    height: 40px;
    font-size: 30px;
    border-top: 3px solid lightgrey;
}

.modal-status-panel {
    padding: 5px;
}

.modal-status-panel-inner {
    border-top: 1px solid grey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid grey;
    border-right: 1px solid lightgrey;
    padding: 2px;
}

.btn-close-modal {
    float: right;
    padding-right: 10px;
    margin-right: 6px;
    height: 28px;
    min-height: 28px;
    width: 100px;
}
/* modal end */

.modal-content-start {
    background-color: #c0c0c0;
    max-width: 284px;
}

/* bios/splash start */
#bios {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
}

#bios-img {
    width: 100%;
    text-align: center;
}

#energy-icon {
    width: 100%;
    max-width: 967px;
    padding-top: 5%;
}

#bios-name {
    display: none;
}

#bios-text {
    padding-top: 50px;
    padding-left: 25%;
}

.bios-text-md {
    font-size: 1.5em;
}

.bios-text-lg {
    font-size: 2em;
}

#splash {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    object-fit: cover;
}
/* bios/splash end */

/* page controls start */
.tab {
    overflow: hidden;
    background-color: #eee;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #474f67;
    color: #f0ece0;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* page controls end */

/* accordion start */
.accordion {
    background-color: #008080;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

.accordion-active, .accordion:hover {
    background-color: #008080;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion-active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    /* padding-bottom: 5px; */
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* accordion end */

/* header start */
.header {
    padding: 15px;
    padding-top: 25px;
    background: #008080;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}
/* header end */

/* footer start */
.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    border-top: 3px solid lightgrey;
}

.main-footer-container {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    padding-right: 5px;
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid grey;
    border-left: 3px solid lightgrey;
    border-right: 3px solid grey;
}

.main-footer-container:hover {
    border-top: 3px solid grey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid grey;
    border-right: 3px solid lightgrey;
}

.main-footer-clock {
    font-family: 'Quicksand', serif;
    float: right;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 12px;
    margin-top: 4px;
    border-top: 1px solid grey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid grey;
    border-right: 1px solid lightgrey;
    cursor: default;
}

#start-btn-logo {
    padding-left: 5px;
    padding-top: 8px;
    padding-right: 5px;
}
/* footer end */

/* input with button start */
.buttoned-input-container {
  position: relative;
  margin-bottom: 10px;
}

.buttoned-input-input {
  /* height: 25px; */
  width: 100%;
  /* padding-left:10px;
  border-radius: 4px;
  border:none;outline:none; */
}

.buttoned-input-button {
  position: absolute;
  right: -13px;
  top: -5px;
  border: none;
  background-color: #008080;
  color: white;
  height:31px;
  width:31px;
  cursor: pointer;
  /* border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px; */
}

.buttoned-input-icon {
    font-size: 20px;
}
/* input with button end */

/* */
#img-nav-header {
    max-width: 440px;
}

#img-header-logo {
    max-width: 140px;
}

#img-home-logo {
    max-width: 531px;
}

#home-main-container {
    width: 100%;
    /* padding-top: 15px;
    padding-left: 15px; */
}

#btn-settings {
    position: absolute;
    right: 25px;
    bottom: 80px;
}

#logs {
    min-height: 330px;
}

#game {
    min-height: 568px;
    background-color: #c0c0c0;
    position: relative;
}

.game-colour-change {
    /* animation: color 9s infinite linear;*/
    background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
    /*animation: color 10s infinite linear;*/
}

@keyframes color {
  0%   { background-color: #A5BFD6; background: linear-gradient(to bottom, #A5BFD6 1%,#cce7ff 100%); }
  20%  { background-color: #A5C7E2; background: linear-gradient(to bottom, #A5C7E2 1%,#cce7ff 100%); }
  40%  { background-color: #007ced; background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%); }
  60%  { background-color: #3B77BF; background: linear-gradient(to bottom, #3B77BF 1%,#cce7ff 100%); }
  80%  { background-color: #000080; background: linear-gradient(to bottom, #000080 1%,#cce7ff 100%); }
  100% { background-color: #050C1F; background: linear-gradient(to bottom, #050C1F 1%,#cce7ff 100%); }
}

#game-modal-content {
    max-width: 1200px;
}

video {
    width: 100%;
}

#remote-modal {
    /* width: 1%; */
}

#remote {
    min-height: 330px;
    background-color: #23232e;
}

#tbl-remote {
    margin: 0 auto;
}

.main-content {
    background: white;
    position: absolute;
    text-align: left;
    left: 25px;
    top: 140px;
    width: calc(100% - 100px);
    height: calc(100% - 280px);
    border: 2px solid #008080;
    overflow: auto;
    padding: 25px;
}

@media (min-width: 576px) {
    .main-content {

    }
}

@media (min-width: 768px) {
    .main-content {
        left: 75px;
        width: calc(100% - 200px);
    }
}

@media (min-width: 992px) {
    .main-content {
        left: 175px;
        width: calc(100% - 400px);
    }
}

@media (min-width: 1200px) {
    .main-content {
        left: 275px;
        width: calc(100% - 600px);
    }
}

@media (min-width: 1400px) {
    .main-content {
        left: 375px;
        width: calc(100% - 800px);
    }
}

.hamburger {
    font-size: 42px;
}

.tbl-alt-rows tr:nth-child(even){
      background-color: #EAF3F5;
      /* color: #fff; */
}

.tbl-settings {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.tbl-settings label {
    padding-left: 10px;
}

.tbl-settings h4 label {
    padding-left: 0px;
}

.input-gyro-settings {
    width: 50px;
}

/* height media queries */
@media (max-height: 700px) {
    #tbl-desktop-icons tr {
        display: table-cell;
    }
}

.navbar {
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /* color: white; */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
